<body>
    <div class="row row-cols-1 row-cols-md-4 g-4" style="margin-top: 10px; margin-left: 5px; margin-right: 5px;">
        {% for cards in flashcards %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <label>
                        <h2 class="card-title"><strong>Title:</strong> {{cards.flashCard_name}} </h2>           
                        <p class="card-text"><strong>Description:</strong>  {{cards.flashCard_description}} </p>       
                        <p class="card-text"><strong>Hint:</strong> {{cards.flashCard_hint}} </p>       
                        <img class="card-text" src="{{cards.flashCard_image}}"> </img>   
                        <br>    
                        |==================================================================|
                    </label>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>